<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "it.troni.firstapp"
        versionCode="10"
        version   = "1.1.0">

    <name>firstApp</name>

    <description>
        Una prova
    </description>

    <author href="http://www.troni.it" email="giorgio@troni.it">
        Girogio Troni
    </author>
 
    <gap:platform name="android" />
    
    <icon src="img/icon.jpg" />
    <feature name="Camera">
        <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
    </feature>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    <feature name="http://api.phonegap.com/1.0/device" />

</widget>